<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ioncordova769531" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:pg="http://cordova.apache.org/ns/1.0">
  <name>ionCordova</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <pg:plugin name="org.apache.cordova.device" />
  <pg:plugin name="org.apache.cordova.battery-status" />
  <pg:plugin name="org.apache.cordova.camera" />
  <pg:plugin name="org.apache.cordova.device-motion" />
  <pg:plugin name="de.appplant.cordova.plugin.local-notification" />
  <pg:plugin name="org.apache.cordova.network-information" />
  <pg:plugin name="hu.dpal.phonegap.plugins.pindialog" />
  <pg:plugin name="nl.xservices.plugins.SocialSharing" />
  <pg:plugin name="com.brodysoft.sqliteplugin" />
  <pg:plugin name="nl.x-services.plugins.toast" />
  <pg:plugin name="org.apache.cordova.vibration" />




</widget>
